.service {
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0px 10%;
  position: sticky;
  height: 30vh;
  color: white;
  background: transparent;
  background: linear-gradient(
    63deg,
    rgba(255, 255, 255, 1) 21%,
    rgba(0, 90, 167, 1) 47%,
    rgba(61, 129, 181, 1) 62%,
    rgba(248, 250, 224, 1) 87%
  );
  box-shadow: 0 2px 15px 0 rgba(31, 38, 135, 0.37);
  border-radius: 40px;
}
